<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/content_style.css">
    <title>Blog</title>
</head>
<body>
    <div style="padding: 20px 30px;">
  <button onclick="location.href='/'" class="btn btn-primary">Home</button>
</div>
    <h1>Enjoy the blog!</h1>
    <div class="container">
    <div class="row">
      <div class="col-md-8">
        <form action="/search_by_id" method="POST">
              <select id="search-option" name="search_option">
                <option value="id">Search by ID</option>
                <option value="author_name">Search by Author Name</option>
                <option value="date">Search by Date</option>
                <option value="title">Search by Title</option>
              </select>
          <div class="form-group">
            <input type="text" class="form-control" id="ID" name="ID" required>
          </div>
          <div style="display: flex; justify-content: center; align-items: center;" class = "submit-button-div">
          <button type="submit" class="btn btn-primary" >Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% for blog in blogs %}
    <div class="blog-post">
        <div style="display: flex; justify-content: center; align-items: center;">
        <h2>{{ blog.title }}</h2>
        </div>
        <p>
            {{ blog.content }}
        </p>

        <div class="meta">
            <p>ID: {{ blog.id }}</p>
            <p>Uploaded by. {{ blog.author_name }}, on. {{ blog.upload_date }}</p>
        </div>
    </div>
    {% endfor %}
</body>
</html>
